.head-content5{
    color: #160647;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 25px;
}
.client-section img{
height: 302px;
width: 302px;
max-width: 100%;
}
.client-section span{
    color: blue;
   
}
.dark-free{
    margin-bottom: 50px;
}
.text-block-44{
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}
.client{
    margin:0px 85px;
}
.text-block-44 {
    margin-top: 20px;
    color: #160647;
}
.dark-free{
    text-align: center;
    margin-top: 60px;    
}
.txt {
    color: #f8feed;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    background-color: #160647;
    padding: 9px 15px;
    border-radius: 4px;
}
.ml-3 {
    margin-left: 10px;
    font-size: 12px;
    font-weight: 900;
}


@media (max-width:720px){

    .mt-32 {
        margin-top: 100px;
    }
    .dark-free {
        text-align: center;
        margin-top: 109px;
        padding: 0px 13px;
    }
    .client-section img {
        height: 100%;
        width: 100%;
        max-width: 100%;
        flex: none;
        padding: 1px 7px;
        display: block;
    }
    .text-block-44 {
        font-size: 11px;
        font-weight: 600;
        text-align: center;
    }
    .client{
        margin:0px;
    }
}


/* for Ipad */
@media (max-width:1024px){
    .client-section img {
      
        width: 302px;
        padding-right: 12px;
        max-width: 100%;
        height: auto;
    }

}
/* enf for ipad */
