.card-content5{
    color: #160647;
    font-size: 55px;
    font-weight: 700;
    text-align: center;
    }
.card-section{
background-image: url(https://assets-global.website-files.com/5f4ec53…/5fd12ec…_dots.svg), url(https://assets-global.website-files.com/5f4ec53…/5fea99f…_double%20pill.svg), linear-gradient(
180deg
, #a5e9d6, #d7f6e2 71%, #f6fee9);
padding-top: 100px;
padding-bottom: 100px;
background-color: hsla(0, 0%, 100%, 0);

    }
    .card-box{
    min-height: 300px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 23px 0 rgb(0 0 0 / 3%);
    margin-top: 20px;
    }
    .card-box img{
        padding: 24px 31px;
    }
    .ft-10{
        font-size: 22px;
        padding: 14px 31px;
        font-weight: 600;
    }
    .list-group-item{
        border: none;
        font-weight: 600;
        font-size: 14px;
        padding: 3px 29px;
    }

    @media (max-width:720px) {
        .card-content5 {
            color: #160647;
            font-size: 28px;
            font-weight: 700;
            text-align: center;
        }
    }