.right li.nav-item {
    display: inline-block;
}
.align-center {
    align-items: center;
}
.justify-content {
    justify-content: space-between;
}
.right li.nav-item  a{
    font-size: 14px;
    color: #736a91;
    font-weight: 600;
}
.nav-link{
    padding: 0px 1rem;
}

.dropdown-toggle.btn.btn-primary{
    background-color: transparent;
    border: none;
    padding: 0 16px;
    cursor: pointer;
    font-size: 14px;
    color: #736a91;
    font-weight: 600;
}
.dropdown-toggle.btn.btn-primary:hover, .dropdown-toggle.btn.btn-primary:focus{
    border:none;
    box-shadow:0px 0px;
}
.btn-blue{
    padding: 4px 20px;
    border-radius: 4px;
    background-color: #160647;
    color: #c1f0e2;
    font-size: 14px;
    font-weight: 600;

}

.right li.nav-item{
    margin: 0px 10px;
}
.logo{
    width: 100px;
    height: 100%;
    max-height: 40px;
}
.navbar-expand-md .navbar-collapse{justify-content: end;}

@media (max-width:720px){
.right li.nav-item {
    display:block;
}
.navbar-toggler:focus {
    
     box-shadow: 0 0 0 ;
}
.navbar{
    flex-wrap: nowrap;
}
.right{
    
        margin-top: 197px;
        padding: 102px;
        background: #c1f0e229;
        color: #000;
    
}
button.btn-blue.btn.btn-secondary {
    display: none;
}
.navbar-light .navbar-nav .nav-link {
  
    color: grey;
}

}