.footer-section h3{
    color: #333;
    font-size: 25px;
    font-weight: 700;

}
.text-block-10 {
    margin-top: 18px;
    font-size: 14px;
    font-weight: 700;
    color: #333;
}
.lin{
    font-size: 14px;
    font-weight: 600;
    color: #444;
    text-decoration: none;
}
.footer{padding:24px 0px;}
@media (max-width:720px) {
    .footer-section {
        margin-bottom: 29px;
    }
    
}
