.head-content{
color: #000;
font-size: 65px;
letter-spacing: -3.09px;
font-weight: 600;
}
.head-content1{
color: #000;
font-size: 65px;
letter-spacing: -3.09px;
font-weight: 600;
background-image: url(../Img/rectangle.svg);
background-position: 50% 88%;
background-size: 100%;
background-repeat: no-repeat;
}
.para-section p{
    color: #160647;
    font-size: 18px;
    font-weight: 600;
}
.signin{
    height: 70px;
}
.email-section Button{
    background-color: #46bfb8;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 16px 62px;
    border: none;
}
.hr-section{
    position: relative;
    text-align: center;
    width: 281.45px;
}
.hr-section:before{
    position:absolute;
    content: '';
    height: 4px;
    background-color: #d6d6d6;
    width: 50%;
    left:0;
    top:50%;
    /* transform:translate(-50%, 0px); */
}
.hr-section:after{
    position:absolute;
    content: '';
    height: 4px;
    background-color: #d6d6d6;
    width: 50%;
    right:0;
    top:50%;
    /* transform:translate(0px, -50%); */
}
.term-section p{
    font-size: 9px;
    color: #000;
    font-weight: 700;
}
.term-section p span{
color: blue;
font-size: 9px;
font-weight: 700;
}
.video-section{
    position: relative;
    display: block;
    width: 100%;
    margin-top: 30px;
    margin-left: 40px;
    padding: 20px;
    border-radius: 10px;
    border:10px solid #160248;
}
.head-content3{
 color: #000;
font-size: 36px;
font-weight: 700;
text-align: center;
}
.mt-32{
    margin-top: 100px;
}
.bannerBg {
    padding-top: 80px;
}
.mt-50{
    margin-top: 50px;
}
.a1-img img{
    width: 110px;
    margin: 0px 90px;
}
img.download {
    width: 100%;
    
}
.head-content4{
color: #160647;
font-size: 60px;
font-weight: 600;
text-align: center;
}
.or{
    position: relative;
    z-index: 9;
    display:flex;
    width: 40px;
    height:40px;
    background:#f8fafe;
    border-radius:50%;
    justify-content: center;
    align-items:center;
    margin:0px auto;
    color:#d6d6d6;
}
/* for phone start */
@media (max-width:720px){
    .head-content {
        color: #000;
        font-size: 37px;
        letter-spacing: -3.09px;
        font-weight: 600;
    }
    .head-content1{
        font-size: 37px;
    }
    .para-section p {
        color: #160647;
        font-size: 15px;
        font-weight: 600;
    }
    .signin {
        height: 47px;
        margin-left: 60px;
        margin-bottom: 10px;
    }
    .hr-section {
        position: relative;
        text-align: center;
        width: 330.45px;
    }
    button.btn.btn-primary {
        padding: 9px 20px;
        margin-left: 59px;
    }
    .term-section p span {
        color: blue;
        font-size: 9px;
        font-weight: 700;
    }
    .video-section {
        position: relative;
        display: block;
        width: 100%;
        margin-top: 30px;
        margin-left: 7px;
        padding: 20px;
        border-radius: 10px;
        border: 10px solid #160248;
    }
    .head-content4 {
        color: #160647;
        font-size: 41px;
        font-weight: 600;
        text-align: center;
        margin-top: -63px;
    }
    
}
/* for phone end */
/* for Ipad */
@media (max-width:1024px){
    .head-content {
        color: #000;
        font-size: 36px;
        letter-spacing: -3.09px;
        font-weight: 600;
        margin-top: 26px;
    }
    .head-content1 {
    font-size: 49px;
    }
    .video-section{
        margin-top: 115px;
    }
    
    .grid-60 {
        padding-top: 53px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
       
        background-position: 78% 11%, 21% 44%!important;
        background-size: 30%, 30%;
        background-repeat: no-repeat, no-repeat;
    }
    .head-content4 {
        color: #160647;
        font-size: 60px;
        font-weight: 600;
        text-align: center;
        margin-top: -64px;
    }

}
/* enf for ipad */

